@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:wght@400;700=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  height: 100%;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: white;
  background-color: #031327;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dropshadow-main: 0px 3px 5px rgba(0, 0, 0, 0.2);

  --font-header: "Bebas Neue";
  --font-sub-header: "Teko";
  --font-main: 'Rajdhani';

  --header-spacing: 0.05rem;
  /* --font-header: "Kdam Thmor Pro"; */

  --color-bg: #031327;
  --color-nav: #002654;
  --color-white: rgb(245, 245, 252);
  --color-border-white: rgb(231, 231, 241);
  --color-ohio-red: #ff2400;
  --color-ohio-blue: #0047ab;
  --color-dark-white: #e1e2f0;
  --color-border: rgba(119, 136, 153, 0.5);
  --color-item-white: #efeffa;

  --transition: all 300ms ease-in-out;
  --transition-fast: all 200ms ease-in-out;
}

a {
  /* font-weight: 500;
  color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  color: var(--color-ohio-red);
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  width: 100vw;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-ohio-red);
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

.btn {
  font-family: var(--font-sub-header);
  font-weight: 400;
  border: 1px solid lightgrey;
  background-color: inherit;
  color: var(--color-bg);
  padding: 0.5rem 4rem;
  transition: var(--transition-fast);
  border-radius: 5px;
  margin-top: 0.5rem;
}

.submit_btn:hover {
  transition: var(--transition-fast);
  border: 1px solid mediumspringgreen;
  color: mediumspringgreen;
}

.cancel_btn:hover {
  transition: var(--transition-fast);
  border: 1px solid var(--color-ohio-red);
  color: var(--color-ohio-red);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
