.awards_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-bg);
}

.awards_container h1, .awards_container h2{
    font-family: var(--font-header);
}

.all_league_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 81%;
    gap: 1rem;
}

.section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background-color: white;
    border: 1px solid lightgrey;
}

.awards_content_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 1280px;
    background-color: rgb(245, 245, 252);
    color: var(--color-bg);
    margin-top: 2rem;
    font-family: var(--font-main);
    padding-bottom: 4rem;
}

.first_team_container, .second_team_container {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    /* grid-template-columns: repeat(6, 1fr); */
    /* gap: 0.5rem; */
}

.all_league_container, .honorable_mention_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.section_title {
    font-size: 2.25rem;
}

.section_sub_title {
    font-size: 1.5rem;
}
 #title {
    margin-bottom: 0;
 }
.awards_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-nav);
    width: 100%;
    padding: 2rem 0;
    color: white;
}

.awards_title h1 {
    margin: 0;
}

#all_league_section {
    padding: 0 2rem 2rem;
}

#honorable_section {
    padding: 0 2rem 2rem;
}
