.award_item_container {
  display: grid;
  grid-template-columns: 8fr 12fr 2fr;
  /* flex-direction: column;
  align-items: center; */
  position: relative;
  width: 100%;
  height: 5rem;
  /* aspect-ratio: 5/2; */
  border: 3px solid;
  background-color: white;
  transition: var(--transition);
  /* box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2); */
  margin-bottom: 0.5rem;
  color: white;
  overflow: hidden;
  /* border: 1px solid lightgrey;
  color: var(--color-bg) */
}

.award_item_container:hover {
    transform: scale(1.02);
    transition: var(--transition-fast);
}

/* .award_item_container::after {
  content: "";
  opacity: 0;
  position: absolute;
  bottom: -6px;
  height: 3px;
  width: 0;
  background-color: var(--color-ohio-blue);
  box-shadow: 0px 3px 7px rgba(26, 86, 214, 0.5);
  transition: var(--transition-fast);
}

.award_item_container:hover::after {
  transition: var(--transition-fast);
  width: 100%;
  opacity: 1;
} */


/* .position_box {
  background-color: white;
  margin: 0.25rem;
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  aspect-ratio: 1/1;
  right: 0;
  font-family: var(--font-sub-header);
  font-size: 1.25rem;
  font-weight: 500;
} */

.star_container {
  display: flex;
  width: 2rem;
}

.position_box h3 {
  line-height: 0.85;
}

.award_position_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--color-bg);
  /* border-left: 1px solid lightgrey; */
  /* padding: 0 0.5rem; */
}

.award_logo_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  width: 100%;
  opacity: 0.25;
  /* aspect-ratio: 1/1; */
  /* background-color: black; */
}

.award_logo_container img {
  position: absolute;
  padding: 1rem;
  width: 10rem;
}

.award_item_info {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.award_item_info h2,
h3,
h4 {
  font-family: var(--font-header);
  margin: 0;
}

.award_item_info h3 {
  font-family: var(--font-sub-header);
  font-weight: 300;
  font-size: 1rem;
}

.award_item_info h4 {
  font-family: var(--font-main);
  font-weight: 300;
}
