/* .honorable_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
} */

.hororable_content_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    /* border: 1px solid lightgrey; */
    /* margin-bottom: 4rem; */
}

.honorable_column {
    /* padding: 2rem; */
    /* border-top: 1px solid lightgrey; */
    border: 1px solid lightgrey;
    background-color: white;
}

.honorable_item {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    height: 3rem;
    width: 20rem;
    border-bottom: 1px solid lightgrey;
    transition: var(--transition-fast);
    background-color: white;
}


.honorable_item:hover {
    transform: scale(1.03);
    transition: var(--transition-fast);
    /* border-bottom: 3px solid var(--color-ohio-blue);
    box-shadow: 0px 5px 10px rgba(26, 86, 214, 0.35); */
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35); */
}

/* .honorable_item:hover::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--color-ohio-blue);
    box-shadow: 0px 3px 7px rgba(26, 86, 214, 0.5);
    bottom: 0;
  } */

  .honorable_item:hover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
  }

  .honorable_item::after {
    content: "";
    opacity: 0;
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    background-color: var(--color-ohio-blue);
    box-shadow: 0px 3px 7px rgba(26, 86, 214, 0.5);
    transition: var(--transition-fast);
  }
  
  .honorable_item:hover::after {
    transition: var(--transition-fast);
    width: 100%;
    opacity: 1;
  }

.honorable_logo {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid lightgrey;
    /* padding: 0.25rem; */
}

.honorable_logo img {
    height: 2.5rem;
    width: 2.5rem;
}

.honorable_position {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/2;
    border-left: 1px solid lightgrey;
    font-weight: 600;
}

.honorable_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.honorable_info h2, .honorable_info h3 {
    margin: 0;
}

.honorable_info h2 {
    font-size: 1.25rem;
}

.honorable_info h3 {
    font-size: 1rem;
    font-family: var(--font-sub-header);
    font-weight: 300;
}