.schedule_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-bg);
}

.schedule_content_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    background-color: rgb(245, 245, 252);
    color: var(--color-bg);
    margin-top: 2rem;
    font-family: var(--font-main);
    padding-bottom: 2rem;
    /* padding: 0 6.5rem 2rem; */
    
    
    /* padding-bottom: 4rem; */
}

.schedule_content_container h1 {
    font-family: var(--font-header);
}


.day_tile_container {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.date_header {
    display: flex;
}

.game_container {
    display: flex;
}

.schedule_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
}

.schedule_controller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 6rem;
}

.schedule_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--color-bg);
    width: 12rem;
    border: 1px solid rgba(119, 136, 153, 0.5);
    font-weight: 700;
    transition:var(--transition);
    padding: 0.75rem;
}

.schedule_btn:hover {
    background-color: var(--color-dark-white);
    border-color: rgba(119, 136, 153, 0.5);
    transition:var(--transition)
}

.schedule_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Test Section */

.test_table {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgrey;
    width: 85%;
}

.test_table_header {
    border-bottom: 1px solid lightgrey;
    padding: 1.5rem 3rem;
    font-family: var(--font-header);
    font-size: 1.25rem;
}

.test_table_header h2{
    margin: 0;
}

.test_table_field_header {
    display: grid;
    grid-template-columns: 9fr 2fr 2fr 2fr;
    /* justify-content: space-between; */
    padding: 1rem;
    border-bottom: 1px solid lightgrey;
}
.test_game_item {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr 2fr 2fr 2fr;
    align-items: center;
    justify-items: center;
    /* justify-content: space-between; */
    background-color: var(--color-dark-white);
    border-bottom: 1px solid lightgrey;
    padding: 1rem;
}

.test_game_item:nth-of-type(even) {
    background-color: white;
}

.test_hometeam, .test_awayteam, .test_game_item span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.test_hometeam, .test_awayteam {
    gap: 0.5rem;
}

.test_awayteam img, .test_hometeam img {
    height: 2rem;
}

.test_score {
    font-weight:700;
    font-size: 1.25rem;
}

.no_games_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color-dark-white);
}

.no_games_title {
    margin: 1rem;
    font-family: var(--font-header);
    font-size: 1.25rem;
}
