.archieve_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.archieve_content_container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    margin-top: 3rem;
    background-color: white;
    padding: 0 0 2rem;
}

.player_manager_title {
    display: flex;
    color: var(--color-bg);
    font-family: var(--font-header);
    /* padding: 0 2rem; */
    margin: 0;
}

.test_player_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 2rem;
}

.test_player_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-bg);
    border: 1px solid lightgray;
    padding: 2rem 0;
    gap: 0.5rem;
    position: relative;
    transition: var(--transition-fast);

}

/* .test_player_container:hover {
    transform: scale(1.04);
    border: 2px solid var(--color-ohio-blue);
    transition: var(--transition-fast);
} */

.test_update_btn, .test_delete_btn {
    position: absolute;
    width: fit-content;
    aspect-ratio: 1/1;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: inherit;
    border: 1px solid lightgray;
    color: gray;
    transition: var(--transition-fast);
}


.test_delete_btn {
    top: 0.5rem;
    right: 0.5rem;
    /* color: red; */
}

.test_delete_btn:hover {
    color: var(--color-ohio-red);
}

.test_update_btn {
    top: 0.5rem;
    left: 0.5rem;
    /* color: green; */
}

.test_update_btn:hover {
    color: mediumspringgreen;
    border: 1px solid mediumspringgreen;
}

.test_portrait_container {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
}

.test_portrait_container img {
    position: relative;
    z-index: 1;
}

.test_portrait_container span {
    z-index: 0;
    position: absolute;
    background-color: #999;
    height: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.test_player_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test_player_container small{
    font-family: var(--font-sub-header);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem;
}

.test_player_container h2, .test_player_container h1{
    margin: 0;
    font-family: var(--font-header);
}

.test_player_container h1 {
    line-height: 1;
}


.test_player_logo {
    height: 5rem;
    padding: 1rem;
}

.test_player_sub {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr 1fr 4fr;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
}

.test_player_logo_sm {
    height: fit-content;
    max-height: 1.5rem;
}
.test_player_sub span {
    height: 80%;
    width: 1px;
    background-color: darkgray;
}

.player_manager_controls {
    display: grid;
    grid-template-columns: 8fr 2fr;
    align-items: flex-end;
    justify-content: space-between;
    /* width: 100%; */
    margin-top: 2rem;
    padding: 0 2rem;
}