.gameStat_row {
  display: flex;
  flex-direction: column;
  align-self: start;
  width: 100%;
}

.stat_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.25rem 0;
}

.stat_info p {
  margin: 0;
}

.stat_bar {
  position: relative;
  width: 100%;
  height: 0.5em;
  border: 1px solid lightgrey;
  overflow: hidden;
}

.home_bar {
  position: absolute;
  left: -2.5px;
  top: 0;
  bottom: 0;
  transform: skew(35deg);
  /* background-color: gold; */
  /* width: 60%; */
}


.away_bar {
  position: absolute;
  right: -2.5px;
  top: 0;
  bottom: 0;
  transform: skew(35deg);
  /* background-color: #00308F; */
  /* width: 40%; */
}

