.seasonSeriesTile_container {
    border: 1px solid lightgrey;
    border-radius: 7px;
    padding: 0.5rem;
    transition: var(--transition-fast);
}

.seasonSeriesTile_container:hover {
    /* border: 1px solid var(--color-ohio-red); */
    background-color: var(--color-dark-white);
    transition: var(--transition-fast);
}

.tile_team_container{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.tile_team_container h3{
    font-family: var(--font-header);
}

.tile_team {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tile_team img {
    width: 1.5rem;
    aspect-ratio: 1/1;
}

.tile_team_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.25rem;
}