.career_stats_table {
    background-color: rgba(255, 255, 255, 1);
    color: var(--color-bg);
    font-family: var(--font-main);
    border-radius: 8px;
    opacity: 0.9;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
  }

  .career_table_header {
    background-color: inherit;
    color: var(--color-bg);
    border-bottom: none;
    font-weight: 300;
  }

.career_stats_table tr {
    text-align: center;
  }

  .career_stats_table tr:nth-of-type(even) {
    background-color: rgba(225, 226, 240, 0.9);
  }

  .career_stats_table th {
    border-right: 1px solid rgba(119, 136, 153, 0.5);
    padding-top: 0.5rem;
  }

  .career_stats_table td {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-right: 1px solid rgba(119, 136, 153, 0.5);
  }

  .career_stats_table tbody tr:last-of-type{
    /* background-color: var(--color-ohio-blue); */
    color: var(--color-ohio-red);
  }


  .career_year_title {
    text-align: left;
    width: 8rem;
    padding-left: 1.5rem;
    font-weight: 700;
  }

  .career_year_title span{
    font-size: 1rem;
    font-weight: 400;
  }