.team_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-bg)
}

.team_content_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    background-color: rgb(245, 245, 252);
    color: var(--color-bg);
    margin-top: 2rem;
    font-family: var(--font-main);
    padding-bottom: 4rem;
}

.team_title_container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding: 2rem 0;
    overflow: hidden;
    /* background-color: white; */
}

.header_bar {
    height: 7px;
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.20);
}

.school_title {
    z-index: 1;
    font-family: var(--font-header);
    /* margin-bottom: 0; */
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: var(--header-spacing);
}

.team_title {
    z-index: 1;
    font-family: var(--font-sub-header);
    margin: 0;
    font-weight: 300;
    letter-spacing: 0.02rem;
    font-family: 'Teko';
    line-height: 1;
    font-size: 1.5rem;
}

.header_texture {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.15;
    mix-blend-mode: overlay;
}

.team_logo {
    z-index: 1;
    margin-bottom: 1rem;
    /* height: 7rem; */
    width: 8rem;
}

.roster_title {
    font-family: var(--font-header);
    margin: 0;
}

.grid_title {
    font-size: 2rem;
}

.players_grid {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forwards_grid, .defense_grid, .goalies_grid {
    display: grid;
    padding: 0 3rem;
    gap: 1rem;
}

.forwards_grid {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.defense_grid, .goalies_grid {
    grid-template-columns: repeat(2, 1fr);
    width: 65%;
}


.players_grid h2 {
    font-family: var(--font-header);
}

